
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


.registration-card {
    height: 80vh;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}